<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>アクセス｜フラワーアレンジメント教室 Bloom</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Bloomへのアクセスはこちら。東京都千代田区○○町1-2-3 フラワーアレンジメント教室Bloom">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="shortcut icon" href="favicon.ico">
<link rel="apple-touch-icon" href="webclip152.png">
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.5&appId=643231655816289";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

  <!--ヘッダー-->
  <header>
    <h1><a href="index.html"><%= image_tag 'logo.png' %></a></h1>
    <div id="header_contact"><a href="contact.html"><%= image_tag 'btn_contact.jpg' %></a></div>
    <nav id="global_navi">
     <ul>
        <!--<li class="current"><a href="index.html">HOME</a></li>-->
        <li class="current"><%= link_to 'HOME', root_path %></li>
        <!--<li><a href="course.html">講座案内</a></li>-->
        <li><%= link_to '講座案内', '/course' %></li>
        <!--<li><a href="gallery.html">ギャラリー</a></li>-->
        <li><%= link_to 'ギャラリー', '/gallery' %></li>
        <li><a href="access.html">アクセス</a></li>
        <li><a href="contact.html">お問い合わせ</a></li>
      </ul>
    </nav>
  </header>
  <!--/ヘッダー-->

  <!--wrapper-->
  <div id="wrapper">
    <!--メイン-->
    <div id="main">
      <div id="breadcrumb">
        <ol>
          <li><a href="index.html">HOME</a></li>
          <li>アクセス</li>
        </ol>
      </div>
      <article>
        <h1>アクセス</h1>
        <section>
          <h2>Bloomへのアクセス</h2>
          <section>
            <h3>住所</h3>
            <% @accesses.each do |access| %>
            <p>〒<%= access.zipcode %></p>
            <p><%= access.address %></p>
            <p><%= access.tel %></p>
            <p><%= access.mail %></p>
            <% end %>
            <!--<p>〒000-0000<br>
            ○○県○○市○○町1-2-3 フラワーアレンジメント教室ブルーム </p> -->
          </section>
          <section>
            <h3>地図</h3>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.299426535222!2d139.75812346553133!3d35.69424858686488!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188c104b9196e1%3A0x3c4200a784a9cd13!2z44CSMTAxLTAwNTEg5p2x5Lqs6YO95Y2D5Luj55Sw5Yy656We55Sw56We5L-d55S677yR5LiB55uu77yR77yQ77yVIOelnuS_neeUuuS4ieS6leODk-ODq-ODh-OCo-ODs-OCsA!5e0!3m2!1sja!2sjp!4v1456301503312" width="730" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
          </section>
        </section>
      </article>
      <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
    </div>
    <!--/メイン-->

    <!--サイド-->
    <aside id="sidebar">
      <section id="side_banner">
        <h2>関連リンク</h2>
        <ul>
          <li><a href="#" target="_blank"><%= image_tag 'banner01.jpg' %></a>
          </li>
          <li><a href="https://www.facebook.com/" target="_blank"><%= image_tag 'banner02.jpg' %></a></li>
        </ul>
      </section>
      <section id="side_contact">
        <h2>ご予約・お問い合わせ</h2>
        <address><i class="fa fa-phone"></i>052-232-8229</address>
        <p>受付時間 9:00〜18:00</p>
        <p><a href="contact.html" class="contact_button">お問い合わせフォーム</a></p>
      </section>
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://bloom.ne.jp" data-text="あなただけのフラワーアレンジメント教室Bloom">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </aside>
    <!--/サイド-->
  </div>
  <!--/wrapper-->

  <!--フッター-->
  <footer>
    <div id="footer_nav">
      <ul>
        <li><a href="index.html">HOME</a></li>
        <li><a href="course.html">講座案内</a></li>
        <li><a href="gallery.html">ギャラリー</a></li>
        <li><a href="access.html">アクセス</a></li>
        <li><a href="contact.html">お問い合わせ</a></li>
        <li><a href="policy.html">プライバシーポリシー</a></li>
      </ul>
    </div>
    <small>&copy; 2015 Bloom.</small>
  </footer>
  <!--/フッター-->

</body>
</html>