<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>お問い合わせ｜フラワーアレンジメント教室 Bloom</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Bloomへのご質問やお問い合わせは、お電話もしくはお問い合わせフォームにて受け付けております。お気軽にお問い合わせください。TEL：052-232-8229">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="shortcut icon" href="favicon.ico">
<link rel="apple-touch-icon" href="webclip152.png">
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.5&appId=643231655816289";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

  <!--ヘッダー-->
  <header>
    <h1><a href="index.html"><%= image_tag'logo.png' %></a></h1>
    <div id="header_contact"><a href="contact.html"><%= image_tag 'btn_contact.jpg' %></a></div>
    <nav id="global_navi">
      <ul>
        <!--<li class="current"><a href="index.html">HOME</a></li>-->
        <li class="current"><%= link_to 'HOME', root_path %></li>
        <!--<li><a href="course.html">講座案内</a></li>-->
        <li><%= link_to '講座案内', '/course' %></li>
        <!--<li><a href="gallery.html">ギャラリー</a></li>-->
        <li><%= link_to 'ギャラリー', '/gallery' %></li>
        <li><a href="access.html">アクセス</a></li>
        <li><a href="contact.html">お問い合わせ</a></li>
      </ul>
    </nav>
  </header>
  <!--/ヘッダー-->

  <!--wrapper-->
  <div id="wrapper">
    <!--メイン-->
    <div id="main">
      <div id="breadcrumb">
        <ol>
          <li><a href="index.html">HOME</a></li>
          <li>お問い合わせ</li>
        </ol>
      </div>
      <article>        
        <h1>お問い合わせ</h1>
        <p class="lead">お気軽にお問い合わせください</p>
        <p>下記メールフォームをご記入いただき、「送信する」ボタンを押してください。</p>
        <p>「<span class="must">※</span>」は必須項目です。</p>
        <section>
          <h2>お問い合わせフォーム</h2>
          <%= form_tag('/send_contact') do %>
            <dl>
              <dt>お名前 <span class="must">※</span></dt>
              <dd><input type="text" name="name" id="name" required></dd>
              <dt>メールアドレス <span class="must">※</span></dt>
              <dd><input type="email" name="email" id="email" required></dd>
              <dt>興味のある講座</dt>
              <dd>
                <select name="interest" id="interest">
                <option value="1day体験教室">1day体験教室</option>
                <option value="ブライダル・アートフラワー教室">ブライダル・アートフラワー教室</option>
                <option value="資格取得講座">資格取得講座</option>
                </select>
              </dd>
              <dt>お問い合せ種別</dt>
              <dd>
                <label><input type="checkbox" name="category" id="category1" value="講座申し込み">講座申し込み</label>
                <label><input type="checkbox" name="category" id="category2" value="資料請求">資料請求</label>
                <label><input type="checkbox" name="category" id="category3" value="その他問い合わせ">その他問い合わせ</label>
              </dd>
              <dt>Bloomを知ったきっかけ</dt>
              <dd>
                <label><input type="radio" name="questionnaire" id="questionnaire1" value="口コミ">口コミ</label>
                <label><input type="radio" name="questionnaire" id="questionnaire2" value="検索エンジンから">検索エンジンから</label>
                <label><input type="radio" name="questionnaire" id="questionnaire3" value="その他">その他</label>
              </dd>
              <dt>お問い合せ内容</dt>
              <dd>
                <textarea name="detail" id="detail"></textarea>
              </dd>
            </dl>
            <p id="submit_button_cover">
              <input type="submit" id="submit_button" value="送信する">
            </p>
          <% end %>
        </section>
      </article>
      <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
    </div>
    <!--/メイン-->

    <!--サイド-->
    <aside id="sidebar">
      <section id="side_banner">
        <h2>関連リンク</h2>
        <ul>
          <li><a href="#" target="_blank"><%= image_tag 'banner01.jpg' %></a></li>
          <li><a href="https://www.facebook.com/" target="_blank"><%= image_tag 'banner02.jpg' %></a></li>
        </ul>
      </section>
      <section id="side_contact">
        <h2>ご予約・お問い合わせ</h2>
        <address><i class="fa fa-phone"></i>052-232-8229</address>
        <p>受付時間 9:00〜18:00</p>
        <p><a href="contact.html" class="contact_button">お問い合わせフォーム</a></p>
      </section>
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://bloom.ne.jp" data-text="あなただけのフラワーアレンジメント教室Bloom">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </aside>
    <!--/サイド-->
  </div>
  <!--/wrapper-->

  <!--フッター-->
  <footer>
    <div id="footer_nav">
      <ul>
        <li><a href="index.html">HOME</a></li>
        <li><a href="course.html">講座案内</a></li>
        <li><a href="gallery.html">ギャラリー</a></li>
        <li><a href="access.html">アクセス</a></li>
        <li><a href="contact.html">お問い合わせ</a></li>
        <li><a href="policy.html">プライバシーポリシー</a></li>
      </ul>
    </div>
    <small>&copy; 2015 Bloom.</small>
  </footer>
  <!--/フッター-->
  
</body>
</html>