<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>講座案内｜フラワーアレンジメント教室 Bloom</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="フラワーアレンジメント教室Bloomでは、初心者の方を対象にした1日体験や、ブライダル・プレゼントなど用途に合わせたコースをご用意しています。">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="shortcut icon" href="favicon.ico">
<link rel="apple-touch-icon" href="webclip152.png">
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.5&appId=643231655816289";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

  <!--ヘッダー-->
  <header>
    <h1><a href="index.html"><%= image_tag 'logo.png' %></a></h1>
    <div id="header_contact"><a href="contact.html"><%= image_tag 'btn_contact.jpg' %></a></div>
    <nav id="global_navi">
      <ul>
        <!--<li class="current"><a href="index.html">HOME</a></li>-->
        <li class="current"><%= link_to 'HOME', root_path %></li>
        <!--<li><a href="course.html">講座案内</a></li>-->
        <li><%= link_to '講座案内', '/course' %></li>
        <!--<li><a href="gallery.html">ギャラリー</a></li>-->
        <li><%= link_to 'ギャラリー', '/gallery' %></li>
        <li><a href="access.html">アクセス</a></li>
        <li><a href="contact.html">お問い合わせ</a></li>
      </ul>
    </nav>
  </header>
  <!--/ヘッダー-->

  <!--wrapper-->
  <div id="wrapper">
    <!--メイン-->
    <div id="main">
      <div id="breadcrumb">
        <ol>
          <li><a href="index.html">HOME</a></li>
          <li>講座案内</li>
        </ol>
      </div>
      <article id="course">        
        <h1>講座案内</h1>
        <p class="lead">用途に合わせたコースをご用意しております。</p>
        <p>初心者の方を対象にした1日体験や、ブライダル・プレゼントなど用途に合わせたコースをご用意しています。</p>
        <section>
          <h2>各講座のご案内</h2>
          <section>
            <h3>1Day体験教室</h3>
            <p>参加を検討している方、教室の雰囲気を知りたい方、お試しでアレンジメントをしてみたい方にオススメの1日体験教室です。季節の花を使いお好みのアレンジメントをお楽しみいただけます。</p>
            <table>
              <% @one_days.each do |one_day| %>
              <tr>
                <th>定員</th>
                <td><%= one_day.number %>名</td>
              </tr>
              <tr>
                <th>価格</th>
                <td>ひとり<%= one_day.price_one %>円/ペア参加でひとり<%= one_day.price_pair %>円</td>
              </tr>
              <tr>
                <th>持ち物</th>
                <td><%= one_day.comment %></td>
              </tr>
              <% end %>
            </table>
          </section>
          <section>
            <h3>ブライダル・アートフラワーコース</h3>
            <p>本格的にフラワーアレンジメントを学びたい方、結婚などイベントを間近に控え、自分でフラワーアレンジメントをしてみたい方などを対象にした本格的にアレンジメントが学べるコースです。</p>
            <table>
              <% @bridals.each do |bridal| %>
              <tr>
                <th>日時</th>
                <td><%= bridal.datetime %></td>
              </tr>
              <tr>
                <th>価格</th>
                <td>入会金<%= bridal.entry_price %>円　月（4回）<%= bridal.four_times_price %>円</td>
              </tr>
              <tr>
                <th>持ち物</th>
                <td><%= bridal.comment %></td>
              </tr>
              <% end %>
            </table>
          </section>
          <section>
            <h3>資格取得講座</h3>
            <p>公益社団法人日本フラワーデザイナー協会「フラワーデザイナー資格検定試験」1級〜3級の資格取得を目的としたコースです。その他の資格に関しても個別に対応しますのでご相談ください。</p>
            <table>
               <% @certifieds.each do |certified| %>
              <tr>
                <th>日時</th>
                <td><%= certified.datetime %></td>
              </tr>
              <tr>
                <th>価格</th>
                <td>月（4回）<%= certified.four_times_price %>円</td>
              </tr>
              <tr>
                <th>持ち物</th>
                <td><%= certified.comment %></td>
              </tr>
              <% end %>
            </table>
          </section>
        </section>
      </article>
      <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
    </div>
    <!--/メイン-->

    <!--サイド-->
    <aside id="sidebar">
      <section id="side_banner">
        <h2>関連リンク</h2>
        <ul>
          <li><a href="#" target="_blank"><%= image_tag 'banner01.jpg' %></a></li>
          <li><a href="https://www.facebook.com/" target="_blank"><%= image_tag 'banner02.jpg' %></a></li>
        </ul>
      </section>
      <section id="side_contact">
        <h2>ご予約・お問い合わせ</h2>
        <address><i class="fa fa-phone"></i>052-232-8229</address>
        <p>受付時間 9:00〜18:00</p>
        <p><a href="contact.html" class="contact_button">お問い合わせフォーム</a></p>
      </section>
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://bloom.ne.jp" data-text="あなただけのフラワーアレンジメント教室Bloom">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </aside>
    <!--/サイド-->
  </div>
  <!--/wrapper-->

  <!--フッター-->
  <footer>
    <div id="footer_nav">
      <ul>
        <li><a href="index.html">HOME</a></li>
        <li><a href="course.html">講座案内</a></li>
        <li><a href="gallery.html">ギャラリー</a></li>
        <li><a href="access.html">アクセス</a></li>
        <li><a href="contact.html">お問い合わせ</a></li>
        <li><a href="policy.html">プライバシーポリシー</a></li>
      </ul>
    </div>
    <small>&copy; 2015 Bloom.</small>
  </footer>
  <!--/フッター-->

</body>
</html>