<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>ギャラリー｜フラワーアレンジメント教室 Bloom</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="実際にBloomへ通われる生徒さんの作品をご紹介します。ブライダルブーケやフラワーデザイナー資格検定試験に向けた作品などさまざま。色鮮やかなギャラリーをぜひご覧ください。">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="shortcut icon" href="favicon.ico">
<link rel="apple-touch-icon" href="webclip152.png">
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.5&appId=643231655816289";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

  <!--ヘッダー-->
  <header>
    <h1><a href="index.html"><%= image_tag'logo.png' %></a></h1>
    <div id="header_contact"><a href="contact.html"><%= image_tag 'btn_contact.jpg' %></a></div>
    <nav id="global_navi">
      <ul>
        <!--<li class="current"><a href="index.html">HOME</a></li>-->
        <li class="current"><%= link_to 'HOME', root_path %></li>
        <!--<li><a href="course.html">講座案内</a></li>-->
        <li><%= link_to '講座案内', '/course' %></li>
        <!--<li><a href="gallery.html">ギャラリー</a></li>-->
        <li><%= link_to 'ギャラリー', '/gallery' %></li>
        <li><a href="access.html">アクセス</a></li>
        <li><a href="contact.html">お問い合わせ</a></li>
      </ul>
    </nav>
  </header>
  <!--/ヘッダー-->

  <!--wrapper-->
  <div id="wrapper">
  	<!--メイン-->
    <div id="main">
      <div id="breadcrumb">
        <ol>
          <li><a href="index.html">HOME</a></li>
          <li>ギャラリー</li>
        </ol>
      </div>
      <article>
        <h1>ギャラリー</h1>
        <p class="lead">実際に通われる生徒さんの作品をご紹介します。</p>
        <p>自宅を華やかに飾りたい、ブライダルブーケを作りたい、資格を取得したいなど、みなさん様々な目的で通われます。そんな生徒さんの作品を一部ご紹介します。</p>
        <section id="gallery">
          <h2>生徒さん作品</h2>
          <ul>
            <li><%= image_tag 'item01.jpg' %><br>
              見本作品 Aさん</li>
            <li><%= image_tag 'item02.jpg' %><br>
              見本作品 Bさん</li>
            <li><%= image_tag 'item03.jpg' %><br>
              見本作品 Cさん</li>
            <li><%= image_tag 'item04.jpg' %><br>
              見本作品 Dさん</li>
            <li><%= image_tag 'item05.jpg' %><br>
              見本作品 Eさん</li>
            <li><%= image_tag 'item06.jpg' %><br>
              見本作品 Fさん</li>
            <li><%= image_tag 'item07.jpg' %><br>
              見本作品 Gさん</li>
            <li><%= image_tag 'item08.jpg' %><br>
              見本作品 Hさん</li>
            <li><%= image_tag 'item09.jpg' %><br>
              見本作品 Iさん</li>
            <% @works.each do |work| %>
            <li><%= image_tag work.image.url %><br>
              見本作品 <%= work.name %>さん
            </li>
            <% end %>
          </ul>
        </section>
      </article>
      <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
    </div>
    <!--/メイン-->

    <!--サイド-->
    <aside id="sidebar">
      <section id="side_banner">
        <h2>関連リンク</h2>
        <ul>
          <li><a href="#" target="_blank"><%= image_tag'banner01.jpg' %></a></li>
          <li><a href="https://www.facebook.com/" target="_blank"><%= image_tag'banner02.jpg' %></a></li>
        </ul>
      </section>
      <section id="side_contact">
        <h2>ご予約・お問い合わせ</h2>
        <address><i class="fa fa-phone"></i>052-232-8229</address>
        <p>受付時間 9:00〜18:00</p>
        <p><a href="contact.html" class="contact_button">お問い合わせフォーム</a></p>
      </section>
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://bloom.ne.jp" data-text="あなただけのフラワーアレンジメント教室Bloom">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </aside>
    <!--/サイド-->
  </div>
  <!--/wrapper-->

  <!--フッター-->
  <footer>
    <div id="footer_nav">
      <ul>
        <li><a href="index.html">HOME</a></li>
        <li><a href="course.html">講座案内</a></li>
        <li><a href="gallery.html">ギャラリー</a></li>
        <li><a href="access.html">アクセス</a></li>
        <li><a href="contact.html">お問い合わせ</a></li>
        <li><a href="policy.html">プライバシーポリシー</a></li>
      </ul>
    </div>
    <small>&copy; 2015 Bloom.</small>
  </footer>
  <!--/フッター-->

</body>
</html>