<% @contacts.each do |contact| %>
<p>
    <%= contact.name %>
    <%= contact.mail %>
    <%= contact.course %>
    <%= contact.contact %>
    <%= contact.know %>
    <%= contact.comment %>
</p>
<% end %>
<%= link_to 'HOMEへ', root_path %>