<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.5&appId=643231655816289";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  
  <!--ヘッダー-->
  <header>
    <!--<h1><img src="images/logo.png" alt="フラワーアレンジメント教室ブルーム" ></h1>-->
    <h1><%= image_tag 'logo.png' %></h1>
    <div id="header_contact"><a href="contact.html"><%= image_tag 'btn_contact.jpg'%></a></div>
    <nav id="global_navi">
      <ul>
        <!--<li class="current"><a href="index.html">HOME</a></li>-->
        <li class="current"><%= link_to 'HOME', root_path %></li>
        <!--<li><a href="course.html">講座案内</a></li>-->
        <li><%= link_to '講座案内', '/course' %></li>
        <!--<li><a href="gallery.html">ギャラリー</a></li>-->
        <li><%= link_to 'ギャラリー', '/gallery' %></li>
        <li><a href="access.html">アクセス</a></li>
        <li><a href="contact.html">お問い合わせ</a></li>
      </ul>
    </nav>
  </header>
  <!--/ヘッダー-->

  <!--メインビジュアル画像-->
  <div id="main_visual">
    <p><%= image_tag 'main_visual.jpg' %></p>
  </div>
  <!--/メインビジュアル画像-->

  <div id="wrapper">
    <!--メイン-->
    <div id="main">
      <section id="point">
        <h2>ブルームのこだわり</h2>
        <section>
          <h3>一人ひとりの個性に向き合う、のびのびとしたアレンジメント</h3>
          <figure>
            <%= image_tag 'photo01.jpg' %>
            <figcaption>作品を作る生徒さんの様子</figcaption>
          </figure>
          <p>生徒さんの数だけ、アレンジメントがあります。<br>
            一人ひとりに向き合った、その人らしいアレンジメントを考えながら楽しく学べます。<br>
            全くの初心者の方も安心してご参加ください。</p>
        </section>
        <section>
          <h3>季節の花や旬の技術を楽しく学べます</h3>
          <figure>
            <%= image_tag 'photo02.jpg' %>
            <figcaption>完成間近の作品</figcaption>
          </figure>
          <p>季節の美しい花々を使い、初めての方でも美しくアレンジメントする技術が身につきます。<br>
            また、旬の話題は積極的に取り入れ、楽しく、自由に楽します。 </p>
        </section>
      </section>
      <section id="news">
        <h2>お知らせ</h2>
        <dl>
         <!-- <dt>2016/03/21</dt>
          <dd><a href="course.html">講座案内を更新しました</a></dd>
          <dt>2016/02/11</dt>
          <dd><a href="gallery.html">ギャラリーに写真を追加しました</a></dd>
          <dt>2016/03/21</dt>
          <dd><a href="course.html">講座案内を更新しました</a></dd> -->
          <% @notices.each do |notice| %>
          <dt><%=notice.publication_date %></dt>
          <dd><%=notice.notice %></dd>
          <% end %>
        </dl>
      </section>
      <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
    </div>
    <!--/メイン-->

    <!--サイド-->
    <aside id="sidebar">
      <section id="side_banner">
        <h2>関連リンク</h2>
        <ul>
          <li><a href="#" target="_blank"><%= image_tag 'banner01.jpg' %></a></li>
          <li><a href="https://www.facebook.com/" target="_blank"><%= image_tag 'banner02.jpg' %></a></li>
        </ul>
      </section>
      <section id="side_contact">
        <h2>ご予約・お問い合わせ</h2>
        <address><i class="fa fa-phone"></i>052-232-8229</address>
        <p>受付時間 9:00〜18:00</p>
        <p><a href="contact.html" class="contact_button">お問い合わせフォーム</a></p>
      </section>
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://bloom.ne.jp" data-text="あなただけのフラワーアレンジメント教室Bloom">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </aside>
    <!--/サイド-->
  </div>
  <!--/wrapper-->

  <!--フッター-->
  <footer>
    <div id="footer_nav">
      <ul>
        <li><a href="index.html">HOME</a></li>
        <li><a href="course.html">講座案内</a></li>
        <li><a href="gallery.html">ギャラリー</a></li>
        <li><a href="access.html">アクセス</a></li>
        <li><a href="contact.html">お問い合わせ</a></li>
        <li><a href="policy.html">プライバシーポリシー</a></li>
      </ul>
    </div>
    <small>&copy; 2015 Bloom.</small>
  </footer>
  <!--/フッター-->