<h1>住所入力</h1>
<!--<form method = 'post'>-->
<%= form_tag('/access_save') do %>
    <div>
        郵便番号<input type="text" name="zipcode">
    </div>
     <div>
        住所<input type="text" name="address">
    </div>
     <div>
        電話番号<input type="text" name="tel">
    </div>
     <div>
        メールアドレス<input type="text" name="mail">
    </div>
    <input type="submit" value="登録">
<!--</form>-->
<% end %>
<h2><%= link_to '管理者TOP', admin_top_path %></h2>