<h1>生徒作品管理ページ</h1>
<h2>生徒作品新規アップロード</h2>
<!-- <form>
    <p>名前:<input type="text"></p>
    <p>作品画像:<input type="file"></p>
    <p><input type="submit" value="作品追加"></p>
</form> -->
<%= form_for @work, url: work_save_path do |f| %>
    <div>
        <%= f.label :name, "お名前" %>
        <%= f.text_field :name %>
    </div>
    <div>
        <%= f.label :image, "作品画像" %>
        <%= f.file_field :image %>
    </div>
    <div>
        <%= f.submit "作品追加" %>
    </div>
<% end %>
<h2><%= link_to '管理者TOPへ', admin_top_path %></h2>