<h1>管理者TOP</h1>
<p class = "sucess"><%= flash[:sucess] %></p>
<h2><%= link_to '問い合わせ管理', admin_access_path %></h2>
<h2><%= link_to '生徒作品管理', add_work_path %></h2>
<h2><%= link_to 'コース情報管理', course_management_path %></h2>
<h2><%= link_to 'ブライダル・アートフラワーコース管理', hoge_path %></h2>
<h2><%= link_to '資格取得講座管理', certifieds_management_path %></h2>
<h2><%= link_to 'お知らせ登録', notice_path %></h2>