<h1>ブライダル・アートフラワーコース管理</h1>
<%= form_tag('/bridal_change') do %>
    <div>
        日時：<input type = "text" value= "<%= @hoge.datetime %>" name = "datetime">
    </div>
    <div>
    　　入会金 : <input type = "text" value= "<%= @hoge.entry_price %>" name = "entry_price">
    </div>
    <div>
    　　月謝4回 : <input type = "text" value= "<%= @hoge.four_times_price %>" name = "four_times_price">
    </div>
    <div>
        持ち物 : <input type = "text" value= "<%= @hoge.comment %>" name = "comment">
    </div>
    <div>
      <input type = "submit" value = "変更">
    </div>
<% end %>
<h2><%= link_to '管理者TOPへ', admin_top_path %></h2>
