<h1>資格獲得講座</h1>
<%= form_tag('/certifieds_change') do %>
    <div>
        日時：<input type = "text" value= "<%= @hogehoge.datetime %>" name = "datetime">
    </div>
    <div>
    　　月謝4回 : <input type = "text" value= "<%= @hogehoge.four_times_price %>" name = "four_times_price">
    </div>
    <div>
        持ち物 : <input type = "text" value= "<%= @hogehoge.comment %>" name = "comment">
    </div>
    <div>
      <input type = "submit" value = "変更">
    </div>
<% end %>
<h2><%= link_to '管理者TOPへ', admin_top_path %></h2>
