<h1>コース情報管理</h1>
<p class = "error"><%= flash[:error] %></p>
<%= form_tag('/course_change') do %>
    <div>
        人数：<input type = "text" value= "<%= @now.number %>" name = "number">
    </div>
    <div>
    　　ひとり価格 : <input type = "text" value= "<%= @now.price_one %>" name = "price_one">
    </div>
    <div>
        ペア価格 : <input type = "text" value= "<%= @now.price_pair %>" name = "price_pair">
    </div>
    <div>
        コメント : <input type = "text" value= "<%= @now.comment %>" name = "comment">
    </div>
    <div>
      <input type = "submit" value = "変更">
    </div>
<% end %>
<h2><%= link_to '管理者TOPへ', admin_top_path %></h2>
