<%= form_for @notice, url: notice_save_path do |f| %>
<div>
        <%= f.label :publication_date, "掲載日" %>
        <%= f.text_field :publication_date %>
    </div>
    <div>
        <%= f.label :notice, "お知らせ内容" %>
        <%= f.text_field :notice %>
    </div>
     <div>
        <%= f.submit "新規登録" %>
    </div>
<% end %>
