// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
    color: blue;
    background-color: skyblue;
    text-align: center;
}
.error {
    color: red;
    background-color: pink;
}
.sucess {
    color: blue;
    background-color: skyblue;
}