// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@charset "utf-8";
/* 基本要素 */
body {
  margin: 0;
  padding: 0;
  color: #333;
}
a { color: #b7a077; }
a:visited { color: #a8a8a8; }
a:hover {
  color: #988564;
  font-weight: bold;
  text-decoration: none;
}
a img { transition: opacity 0.2s linear; }
a:hover img { opacity: 0.7; }
h1, h2, h3, h4, h5, h6 { margin-top: 0; }
p {
  margin-top: 0;
  line-height: 1.6;
}
img { vertical-align: bottom; }
#main h1 {
  background-image: url(../images/header_bg.jpg);
  padding: 13px 30px 10px 20px;
  font-size: 26px;
  color: #44382d;
  border-bottom: solid 3px #716961;
}
#main h2 {
  font-size: 22px;
  border: 1px solid #b7a077;
  padding: 11px 22px;
  border-radius: 5px;
}
#main h3 {
  font-size: 18px;
  border-left: solid 3px #b7a077;
  padding: 4px 9px 4px 14px;
}
/* ヘッダー */
header {
  width: 980px;
  margin: 0 auto;
}
header h1 {
  float: left;
  margin: 5px 0 10px;
}
header #header_contact {
  float: right;
  margin: 35px 0;
}
/* ナビゲーション */
#global_navi {
  width: 980px;
  clear: both;
  overflow: hidden;
  margin: 16px auto;
}
#global_navi ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#global_navi ul li {
  width: 195px;
  float: left;
  margin-right: 1px;
  text-align: center;
}
#global_navi ul li a {
  display: block;
  padding: 16px;
  background-color: #352b23;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.2s linear;
}
#global_navi ul li.current a { 
  background-color: #b7a077; 
}
#global_navi ul li a:hover { 
  background-color: #8c7a5b;
}
/* コンテンツ全体 */
#wrapper {
  width: 980px;
  margin: 0 auto;
  overflow: hidden;
}
/* メイン部分 */
#main {
  width: 730px;
  float: left;
}
/* サイドバー */
#sidebar {
  width: 220px;
  float: right;
}
#side_banner { margin-bottom: 30px; }
#side_banner h2 {
  background-color: #716961;
  color: #fff;
  padding: 7px;
  font-size: 14px;
  text-align: center;
}
#side_banner ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#side_banner ul li { margin-bottom: 10px; }

#side_contact { margin-bottom: 30px; }
#side_contact {
  border: 1px solid #b7a077;
  color: #7F7259;
  text-align: center;
}
#side_contact h2 {
  background-color: #b7a077;
  color: #fff;
  padding: 7px;
  font-size: 14px;
}
#side_contact address {
  font-weight: bold;
  font-size: 20px;
  font-style: normal;
}
#side_contact address img {
  vertical-align: middle;
  margin-right: 5px;
}
#side_contact .contact_button {
  display: inline-block;
  background: #f1ede4;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f1ede4));
  background: -webkit-linear-gradient(top,  #ffffff 0%,#f1ede4 100%);
  background: linear-gradient(to bottom,  #ffffff 0%,#f1ede4 100%);
  color: #b7a077;
  padding: 10px;
  border: 1px solid #b7a077;
  border-radius: 5px;
  text-decoration: none;
}
#side_contact .contact_button:hover{
  background: #b7a077;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b7a077), color-stop(100%,#e2cda7));
  background: -webkit-linear-gradient(top,  #b7a077 0%,#e2cda7 100%);
  background: linear-gradient(to bottom,  #b7a077 0%,#e2cda7 100%);
  color: #fff;
}
/* フッター */
footer {
  background-color: #352b23;
  text-align: center;
}
footer #footer_nav {
  background-color: #efefef;
  padding: 10px 0;
}
footer #footer_nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer #footer_nav li {
  display: inline;
  border-left: solid 1px #aaa;
  margin-left: 8px;
  padding-left: 8px;
  font-size: smaller;
}
footer #footer_nav li:last-child {
  border-right: solid 1px #aaa;
  padding: 0 8px;
}
footer small {
  display: block;
  padding: 8px 0;
  color: #fff;
}
/* パンくずリスト */
#breadcrumb { font-size: smaller; }
#breadcrumb ol {
  list-style: none;
  margin: 0 0 10px 0;
  padding: 0;
}
#breadcrumb ol li { display: inline; }
#breadcrumb ol li::after {
  content: ">";
  padding-left: 7px;
}
#breadcrumb ol li:last-child::after { content: none; }

/* トップページ */
#main_visual {
  width: 980px;
  height: 440px;
  margin: 0 auto 25px;
}
/* こだわり */
#point  { margin-bottom: 30px; }
#point section {
  margin-bottom: 10px;
  overflow: hidden;
}
#point figure {
  float: right;
  margin: 0 0 0 16px;
}
#point figcaption {
  font-size: 12px;
  color: #9C9689;
  text-align: center;
}
/* ニュース */
#news dl { overflow: hidden; }
#news dt {
  float: left;
  width: 8em;
  margin-bottom: 10px;
  clear: both;
}
#news dd {
  margin-left: 8em;
  margin-bottom: 10px;
}
/* 講座案内ページ */
#course table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 16px;
}
#course th,
#course td {
  border: 1px solid #c7c7c7;
  padding: 8px;
}
#course th {
  background-color: #f1ede4;
  text-align: left;
  width: 5em;
}

/* ギャラリーページ */
#gallery ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#gallery ul li {
  width: 220px;
  margin: 0 30px 30px 0;
  padding: 10px 0;
  border: solid 1px #ccc;
  float: left;
  text-align: center;
  color: #b7a077;
  font-weight: bold;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
}
#gallery ul li:nth-child(3n) { 
  margin-right: 0; 
}

/* お問い合わせページ */
#entry dl {
  background: #f1ede4;
  border: 1px solid #ddd;
  border-top: 0;
}
#entry dl dt,
#entry dl dd {
  padding: 10px;
  border-top: 1px solid #ddd;
}
#entry dl dt {
  width: 13em;
  float: left;
  clear: both;
  font-weight: bold;
}
#entry dl dd {
  background-color: #fff;
  border-left: 1px solid #ddd;
  margin-left: 13em;
}
.must { color: #f00; }
#entry #name {
  width: 15em;
  padding: 3px;
}
#entry #email {
  width: 25em;
  padding: 3px;
}

#entry #category2,
#entry #category3,
#entry #questionnaire2,
#entry #questionnaire3 {
  margin-left: 15px; 
}

#entry #detail {
  width: 36em;
  height: 15em;
}

#entry #submit_button_cover {
  text-align: center; 
}
#entry #submit_button {
  background-color: #b7a077;
  border: 1px solid #b7a077;
  padding: 15px 100px;
  border-radius: 10px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  transition: background 0.1s linear;
}
#entry #submit_button:hover {
  background: #c7ae81;
}

/* ---------------------------------
メディアクエリー
--------------------------------- */
@media screen and (max-width : 767px){
  /* 基本要素 */
  img {
    max-width: 100%;
  }
  /* Layout */
  header,
  #global_navi,
  #sidebar,
  #wrapper{
    width: 100%;
  }  
  /* ヘッダー */
  header h1 {
    float: none;
    text-align: center;
  }
  header h1 img {
    width: 50%;
  }
  header #header_contact {
    display: none;
  }
  /* ナビゲーション */
  #global_navi ul li {
    width: 50%;
    padding: 0.5px;
    margin: 0;
    box-sizing: border-box;
  }
  #global_navi ul li a {
    margin: 0;
  }
  #global_navi ul li:last-child {
    width: 100%;
  }
  /* メイン部分 */
  #main {
    width: 100%;
    padding: 0 5%;
    box-sizing: border-box;
  }
  #main figure {
    text-align: center;
  }
  /* トップページパーツ */
  #main_visual {
    width: 100%;
    height: auto;
  }
  #point figure {
    float: none;
    margin: 0 0 11px 0;
  }
  /* サイドバー */
  #side_banner ul li {
    text-align: center;
    margin: 11px auto;
  }
  #side_contact address img {
    width: 14px;
    height: 20px;
  }
}
#gallery img {
  width: 200px;
}